  {
    "comments": false,
    "presets": [
      "@babel/preset-env"
    ],
    "env": {
      "es": {
        "presets": [
          [
            "@babel/preset-env",
            {
              "modules": false
            }
          ]
        ]
      },
      "commonjs": {
        "plugins": [
          "add-module-exports"
        ]
      }
    }
  }